<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MessagesExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>candidatez.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>candidatezMessagesExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>emogeez.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>emogeezMessagesExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>holidayz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>holidazeMessagesExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>kaptionator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>kaptionatorMessageExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88475BE11D515DAA00FA7EC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AEA5901D514B29006E5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AEA5A91D514B53006E5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AEA5BF1D514B6A006E5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AEA5D51D514B9A006E5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AEA5EB1D514BC3006E5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AEA6011D514C1F006E5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AEA6191D514C5F006E5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AEA62E1D514C8D006E5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AEA6431D514CC7006E5C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
