<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP-TITLE</key>
	<string>Kaptionator</string>
	<key>BACKGROUND-IMAGE</key>
	<string>kaptionator-1024x768.png</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
				<string>theMidnightRambler-120</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image GIF Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
				<string>theMidnightRambler-120</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image PNG Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MusicStand_72x72.png</string>
				<string>MusicStand_512x512.png</string>
				<string>theMidnightRambler-120</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image JPEG Input</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.03</string>
	<key>CFBundleVersion</key>
	<string>121</string>
	<key>EXTENSION-SCHEME</key>
	<string>Kaptionator</string>
	<key>INNER-BLURB</key>
	<string>a Catalog of all images loaded - pull to rearrange and delete images</string>
	<key>LEFT-BBI-NAME</key>
	<string>itunes</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Accessing Library to use your own images inside Kaptionator</string>
	<key>REMOTE-WEBSITE-URL</key>
	<string>http://shtikerz.com/kaptionator</string>
	<key>SHARED-INTERAPP-DATA</key>
	<string>group.com.midnightrambler.kaptionator</string>
	<key>SHOW-CATALOG-ID</key>
	<string>ShowITunesID</string>
	<key>SHOW-HIDDEN-FUNCTIONS</key>
	<true/>
	<key>TAGLINE</key>
	<string>kaptionator-main</string>
	<key>TOP-BLURB</key>
	<string>Drag files into iTunes on your computer then pull to load</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>FrontCode</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
